/* responsive.css */


@media (min-width: 1000px) {
    .software {width:128px; height:240px; background:url(software.png) 0 0px;}
}

@media (max-width: 600px) {
    .software {width:128px; height:240px; background:url(software.png) -512px -240 px;}
}