/* responsive.css */

<style>
@media (min-width: 1200px) {
    .software {width:128px; height:240px; background:url(software.png) 0 0px;)}
}

@media (max-width: 400px) {
.software {width:128px; height:240px; background:url(software.png) 576 120 px;)}
}
</style>